@import url(variable-page11.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.row_1{
    width: 539px;
    height: 240px;
    position: absolute;
    top: 80px;
    left: 20px;
    margin-left: 25px;
    margin-right: 200px;
}

.row_1 h1{
    font-family: "Avenir-Heavy";
    font-size: 60px;
    color: #252525;
    left: 120px;
    position: relative;
    top: 300;
    width:700px;
}
.row_1 h2{
    font-family: "Avenir-Roman";
    font-weight: lighter;
    font-size: 16px;
    color: #333333;
    position: absolute;
    top: 200px;
    left: 120px;
    line-height: 1.7;
}
.row_1 button{
    width: 100px;
    height: 60px;
    color: #ffff;
    font-family: "Poppins-Regular";
    font-size: 18px;
    border-radius: 50px;
    border: none;
    overflow: none;
    background-color: #252525;
    position: absolute;
    top: 340px;
    left: 120px  ;
}
.row_2{
    width: 539px;
    height: 720px;
    /* background: blue; */
    position: absolute;
    top: auto;
    right: auto;
}

.row_2 img.back{
    width: 250px;
    position: relative;
    top: 20px;
    left: 900px;
    z-index: -1;
}

.row_2 img.out{
    position: absolute;
    width: 250px;
    top: 180px;
    left: 1020px;
}

.row_2 img.stick{
    width: 1100px;
    height: 250px;
    top: 525px;
    left: 170px;
    position: absolute;

}