<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-page13.css">
    <title>Hamburguesa</title>
</head>
<body>
    <div class="row_1">
        <h1>Create<br>your<br>design</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam officiis officia nesciunt vitae laboriosam architecto.</h2>
        <button>Explore</button>
    </div>
    <div class="row_2">
        <img src="../storage/img-page13/image.png" alt="" class="fondo">
        <img src="../storage/img-page13/imageTop.png" alt="" class="imageTop">
        <img src="../storage/img-page13/imageFall.png" alt="" class="imageFall">
        <img src="../storage/img-page13/textOne.png" alt="" class="textOne">
        <img src="../storage/img-page13/explosion.png" alt="" class="explosion">
        <img src="../storage/img-page13/start.png" alt="" class="start">
        <img src="../storage/img-page13/textTwo.png" alt="" class="textTwo">
        <img src="../storage/img-page13/party.png" alt="" class="party">
        <img src="../storage/img-page13/start.png" alt="" class="start2">


    </div>  
</body>
</html>