<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-page19.css">
    <title>Hamburguesa</title>
</head>
<body>
    <div class="text">
        <h1>A place you eat healthy</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae ratione quae, fugit atque nisi excepturi, praesentium adipisci sunt 
           vel temporibus, quaerat velit ipsam architecto dolor asperiores
            natus dignissimos iste nulla!</p>
        <button>Explore the menu</button>
    </div>
    <div class="imageP">
        <img src="../storage/img-page19/image.png" alt="">
    </div>
    <article class="footer">
        <div class="imageF">
            <img src="../storage/img-page19/image copy.png" alt=""> 
            <img src="../storage/img-page19/image copy 2.png" alt="">
            <img src="../storage/img-page19/image copy 3.png" alt="">
        </div>
        <div class="textF">
            <h4>Chef ABC</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit aksd asaadsf adf</p>
            <div class="imagesT">
                <img src="../storage/img-page19/image copy 4.png" alt="">
                <img src="../storage/img-page19/image copy 5.png" alt="">
                <img src="../storage/img-page19/image copy 6.png" alt="">
                <img src="../storage/img-page19/image copy 7.png" alt="">
            </div>
        </div>
    </article>
</body>
</html>