<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-page18.css">
    <title>Hamburguesa</title>
</head>
<body>
    <div class="row_1">
        <h1>Your ultimate<br>fashion outfits</h1>
        <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, praesentium cum? Magnam corporis ea, . </h2>
        <button>Explore</button>
    </div>
    <div class="images">
        <div class="pictures">
            <img class="imageLeft" src="../storage/img-page18/imageIzquierda.png" alt="">
            <img class="imageRight" src="../storage/img-page18/imageDerecha.png" alt="">
            <img class="centerImage" src="../storage/img-page18/centerImage.png" alt="">
            <img class="rightImage" src="../storage/img-page18/rightImage.png" alt="">
            <img class="leftImage" src="../storage/img-page18/leftimage.png" alt="">
            <img class="TextRight" src="../storage/img-page18/textRight.png" alt="">
            <img class="textLeft" src="../storage/img-page18/textLeft.png" alt="">
            <img class="logoLeft" src="../storage/img-page18/logo.png" alt="">
            <img class="logoRight" src="../storage/img-page18/logo2.png" alt="">

        </div>
    </div>
    <div class="row_2">
        <img src="../storage/img-page18/unsplash_T8SD7bwyxHU.png" alt="">
        
    </div>
</body>
</html>