<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-page16.css">
    <title>Hamburguesa</title>
</head>
<body>
    <div class="row_1">
        <h1>What´s next in your space travel </h1>
        <div class="pictures">
            <img src="../storage/img-page16/Ellipse 12.png" alt="">
            <img src="../storage/img-page16/Ellipse 14.png" alt="">
            <img src="../storage/img-page16/Ellipse 11.png" alt="">
            <img src="../storage/img-page16/Ellipse 13.png" alt="">
            <img src="../storage/img-page16/Ellipse 15.png" alt="">
            <img src="../storage/img-page16/Ellipse 10.png" alt="">
            <img src="../storage/img-page16/Ellipse 16.png" alt="">
        </div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas soluta culpa impedit dignissimos a aspernatur cupiditate, iste ad nemo nostrum eius molestiae .</h2>
        <button>Explore</button>
    </div>
    <div class="row_2">
        <img class="background" src="../storage/img-page16/image.png" alt="">
        <img class="color1" src="../storage/img-page16/color1.png" alt="">
    </div>
    <div class="cuadro1"></div>
    <div class="cuadro2"></div>
    <div class="listas">
        <img class="list1" src="../storage/img-page16/list1.png" alt="">
        <img class="list2" src="../storage/img-page16/list2.png" alt="">
        <img class="list3" src="../storage/img-page16/list3.png" alt="">
        <img class="list4" src="../storage/img-page16/list4.png" alt="">
    </div>

</body>
</html>